.idea/
.vscode

### Python ###
env
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Cython debug symbols
cython_debug/


# random cpp stuff
a.out

# Macos
.DS_Store

# Big Data
data/HFT

# random
_thesis_draft.tex
reading